/**
 * variables/color.styl
 * @author kaminoctem
 */

/** Basic Colors */
$color-black ?= hsl(0, 0%, 0%)
$color-black-bis ?= hsl(0, 0%, 6%)
$color-black-ter ?= hsl(0, 0%, 13%)
$color-grey-darker ?= hsl(0, 0%, 20%)
$color-grey-dark ?= hsl(0, 0%, 28%)
$color-grey ?= hsl(0, 0%, 58%)
$color-grey-light ?= hsl(0, 0%, 70%)
$color-grey-lighter ?= hsl(0, 0%, 85%)
$color-white-ter ?= hsl(0, 0%, 95%)
$color-white-bis ?= hsl(0, 0%, 97%)
$color-white ?= hsl(0, 0%, 100%)

$color-red ?= hsl(0, 82%, 72%)
// $color-magenta ?= hsl(300, 100%, 50%)
$color-pink ?= hsl(338, 82%, 72%)
$color-brown ?= hsl(12, 28%, 72%)
$color-orange ?= hsl(18, 82%, 72%)
$color-yellow ?= hsl(39, 82%, 72%)
$color-green ?= hsl(99, 82%, 72%)
$color-turquoise ?= hsl(159, 82%, 72%)
// $color-cyan ?= hsl(180, 100%, 50%)
// $color-teal ?= hsl(180, 100%, 25%)
$color-blue ?= hsl(219, 82%, 72%)
$color-violet ?= hsl(279, 82%, 72%)

$color-mainfore ?= hsl(12, 100%, 2%)
$color-mainback ?= hsl(12, 100%, 98%)

$color-primary ?= $color-pink
$color-success ?= $color-green
$color-info ?= $color-blue
$color-warning ?= $color-yellow
$color-danger ?= $color-red
$color-link ?= $color-turquoise
$color-visited ?= $color-violet
$color-disabled ?= $color-grey-lighter

/* light */
$color-light-mainfore ?= $color-mainfore
$color-light-mainback ?= $color-mainback

$color-light-red ?= hsl(0, 82%, 72%)
// $color-magenta ?= hsl(300, 100%, 50%)
$color-light-pink ?= hsl(338, 82%, 72%)
$color-light-brown ?= hsl(12, 28%, 72%)
$color-light-orange ?= hsl(18, 82%, 72%)
$color-light-yellow ?= hsl(39, 82%, 72%)
$color-light-green ?= hsl(99, 82%, 72%)
$color-light-turquoise ?= hsl(159, 82%, 72%)
// $color-light-cyan ?= hsl(180, 100%, 50%)
// $color-light-teal ?= hsl(180, 100%, 25%)
$color-light-blue ?= hsl(219, 82%, 72%)
$color-light-violet ?= hsl(279, 82%, 72%)

$color-light-primary ?= $color-pink
$color-light-success ?= $color-green
$color-light-info ?= $color-blue
$color-light-warning ?= $color-yellow
$color-light-danger ?= $color-red
$color-light-link ?= $color-turquoise
$color-light-visited ?= $color-violet
$color-dark-disabled ?= $color-grey-lighter

/* dark */
$color-dark-red ?= hsl(0, 82%, 44%)
// $color-magenta ?= hsl(300, 100%, 50%)
$color-dark-pink ?= hsl(338, 82%, 44%)
$color-dark-brown ?= hsl(12, 28%, 44%)
$color-dark-orange ?= hsl(18, 82%, 44%)
$color-dark-yellow ?= hsl(39, 82%, 44%)
$color-dark-green ?= hsl(99, 82%, 44%)
$color-dark-turquoise ?= hsl(159, 82%, 44%)
// $color-dark-cyan ?= hsl(180, 100%, 50%)
// $color-dark-teal ?= hsl(180, 100%, 25%)
$color-dark-blue ?= hsl(219, 82%, 44%)
$color-dark-violet ?= hsl(279, 82%, 44%)

$color-dark-mainfore ?= hsl(12, 100%, 98%)
$color-dark-mainback ?= hsl(12, 100%, 2%)
$color-dark-primary ?= $color-dark-pink
$color-dark-success ?= $color-dark-green
$color-dark-info ?= $color-dark-blue
$color-dark-warning ?= $color-dark-yellow
$color-dark-danger ?= $color-dark-red
$color-dark-link ?= $color-dark-turquoise
$color-dark-visited ?= $color-dark-violet
$color-dark-disabled ?= $color-grey-darker

$colors = {
  black: {
    base: var(--color-black, $color-black),
    translucent: var(--color-black-translucent, alpha($color-black, 0.25)),
    inverted: var(--color-black-inverted, invert($color-black)),
    dim: var(--color-black-dim, darken($color-black, 5%)),
    dark: var(--color-black-dark, darken($color-black, 10%)),
    pale: var(--color-black-pale, lighten($color-black, 5%)),
    light: var(--color-black-light, lighten($color-black, 10%)),
  },
  grey: {
    base: var(--color-grey, $color-grey),
    translucent: var(--color-grey-translucent, alpha($color-grey, 0.25)),
    inverted: var(--color-grey-inverted, invert($color-grey)),
    dim: var(--color-grey-dim, darken($color-grey, 5%)),
    dark: var(--color-grey-dark, darken($color-grey, 10%)),
    pale: var(--color-grey-pale, lighten($color-grey, 5%)),
    light: var(--color-grey-light, lighten($color-grey, 10%)),
  },
  white: {
    base: var(--color-white, $color-white),
    translucent: var(--color-white-translucent, alpha($color-white, 0.25)),
    inverted: var(--color-white-inverted, invert($color-white)),
    dim: var(--color-white-dim, darken($color-white, 5%)),
    dark: var(--color-white-dark, darken($color-white, 10%)),
    pale: var(--color-white-pale, lighten($color-white, 5%)),
    light: var(--color-white-light, lighten($color-white, 10%)),
  },
  red: {
    base: var(--color-red, $color-red),
    translucent: var(--color-red-translucent, alpha($color-red, 0.25)),
    inverted: var(--color-red-inverted, invert($color-red)),
    dim: var(--color-red-dim, darken($color-red, 5%)),
    dark: var(--color-red-dark, darken($color-red, 10%)),
    pale: var(--color-red-pale, lighten($color-red, 5%)),
    light: var(--color-red-light, lighten($color-red, 10%)),
  },
  pink: {
    base: var(--color-pink, $color-pink),
    translucent: var(--color-pink-translucent, alpha($color-pink, 0.25)),
    inverted: var(--color-pink-inverted, invert($color-pink)),
    dim: var(--color-pink-dim, darken($color-pink, 5%)),
    dark: var(--color-pink-dark, darken($color-pink, 10%)),
    pale: var(--color-pink-pale, lighten($color-pink, 5%)),
    light: var(--color-pink-light, lighten($color-pink, 10%)),
  },
  orange: {
    base: var(--color-orange, $color-orange),
    translucent: var(--color-orange-translucent, alpha($color-orange, 0.25)),
    inverted: var(--color-orange-inverted, invert($color-orange)),
    dim: var(--color-orange-dim, darken($color-orange, 5%)),
    dark: var(--color-orange-dark, darken($color-orange, 10%)),
    pale: var(--color-orange-pale, lighten($color-orange, 5%)),
    light: var(--color-orange-light, lighten($color-orange, 10%)),
  },
  yellow: {
    base: var(--color-yellow, $color-yellow),
    translucent: var(--color-yellow-translucent, alpha($color-yellow, 0.25)),
    inverted: var(--color-yellow-inverted, invert($color-yellow)),
    dim: var(--color-yellow-dim, darken($color-yellow, 5%)),
    dark: var(--color-yellow-dark, darken($color-yellow, 10%)),
    pale: var(--color-yellow-pale, lighten($color-yellow, 5%)),
    light: var(--color-yellow-light, lighten($color-yellow, 10%)),
  },
  turquoise: {
    base: var(--color-turquoise, $color-turquoise),
    translucent: var(--color-turquoise-translucent, alpha($color-turquoise, 0.25)),
    inverted: var(--color-turquoise-inverted, invert($color-turquoise)),
    dim: var(--color-turquoise-dim, darken($color-turquoise, 5%)),
    dark: var(--color-turquoise-dark, darken($color-turquoise, 10%)),
    pale: var(--color-turquoise-pale, lighten($color-turquoise, 5%)),
    light: var(--color-turquoise-light, lighten($color-turquoise, 10%)),
  },
  green: {
    base: var(--color-green, $color-green),
    translucent: var(--color-green-translucent, alpha($color-green, 0.25)),
    inverted: var(--color-green-inverted, invert($color-green)),
    dim: var(--color-green-dim, darken($color-green, 5%)),
    dark: var(--color-green-dark, darken($color-green, 10%)),
    pale: var(--color-green-pale, lighten($color-green, 5%)),
    light: var(--color-green-light, lighten($color-green, 10%)),
  },
  blue: {
    base: var(--color-blue, $color-blue),
    translucent: var(--color-blue-translucent, alpha($color-blue, 0.25)),
    inverted: var(--color-blue-inverted, invert($color-blue)),
    dim: var(--color-blue-dim, darken($color-blue, 5%)),
    dark: var(--color-blue-dark, darken($color-blue, 10%)),
    pale: var(--color-blue-pale, lighten($color-blue, 5%)),
    light: var(--color-blue-light, lighten($color-blue, 10%)),
  },
  violet: {
    base: var(--color-violet, $color-violet),
    translucent: var(--color-violet-translucent, alpha($color-violet, 0.25)),
    inverted: var(--color-violet-inverted, invert($color-violet)),
    dim: var(--color-violet-dim, darken($color-violet, 5%)),
    dark: var(--color-violet-dark, darken($color-violet, 10%)),
    pale: var(--color-violet-pale, lighten($color-violet, 5%)),
    light: var(--color-violet-light, lighten($color-violet, 10%)),
  },
  primary: {
    base: var(--color-primary, $color-primary),
    translucent: var(--color-primary-translucent, alpha($color-primary, 0.25)),
    inverted: var(--color-primary-inverted, invert($color-primary)),
    dim: var(--color-primary-dim, darken($color-primary, 5%)),
    dark: var(--color-primary-dark, darken($color-primary, 10%)),
    pale: var(--color-primary-pale, lighten($color-primary, 5%)),
    light: var(--color-primary-light, lighten($color-primary, 10%)),
  },
  success: {
    base: var(--color-success, $color-success),
    translucent: var(--color-success-translucent, alpha($color-success, 0.25)),
    inverted: var(--color-success-inverted, invert($color-success)),
    dim: var(--color-success-dim, darken($color-success, 5%)),
    dark: var(--color-success-dark, darken($color-success, 10%)),
    pale: var(--color-success-pale, lighten($color-success, 5%)),
    light: var(--color-success-light, lighten($color-success, 10%)),
  },
  info: {
    base: var(--color-info, $color-info),
    translucent: var(--color-info-translucent, alpha($color-info, 0.25)),
    inverted: var(--color-info-inverted, invert($color-info)),
    dim: var(--color-info-dim, darken($color-info, 5%)),
    dark: var(--color-info-dark, darken($color-info, 10%)),
    pale: var(--color-info-pale, lighten($color-info, 5%)),
    light: var(--color-info-light, lighten($color-info, 10%)),
  },
  warning: {
    base: var(--color-warning, $color-warning),
    translucent: var(--color-warning-translucent, alpha($color-warning, 0.25)),
    inverted: var(--color-warning-inverted, invert($color-warning)),
    dim: var(--color-warning-dim, darken($color-warning, 5%)),
    dark: var(--color-warning-dark, darken($color-warning, 10%)),
    pale: var(--color-warning-pale, lighten($color-warning, 5%)),
    light: var(--color-warning-light, lighten($color-warning, 10%)),
  },
  danger: {
    base: var(--color-danger, $color-danger),
    translucent: var(--color-danger-translucent, alpha($color-danger, 0.25)),
    inverted: var(--color-danger-inverted, invert($color-danger)),
    dim: var(--color-danger-dim, darken($color-danger, 5%)),
    dark: var(--color-danger-dark, darken($color-danger, 10%)),
    pale: var(--color-danger-pale, lighten($color-danger, 5%)),
    light: var(--color-danger-light, lighten($color-danger, 10%)),
  },
  link: {
    base: var(--color-link, $color-link),
    translucent: var(--color-link-translucent, alpha($color-link, 0.25)),
    inverted: var(--color-link-inverted, invert($color-link)),
    dim: var(--color-link-dim, darken($color-link, 5%)),
    dark: var(--color-link-dark, darken($color-link, 10%)),
    pale: var(--color-link-pale, lighten($color-link, 5%)),
    light: var(--color-link-light, lighten($color-link, 10%)),
  },
  visited: {
    base: var(--color-visited, $color-visited),
    translucent: var(--color-visited-translucent, alpha($color-visited, 0.25)),
    inverted: var(--color-visited-inverted, invert($color-visited)),
    dim: var(--color-visited-dim, darken($color-visited, 5%)),
    dark: var(--color-visited-dark, darken($color-visited, 10%)),
    pale: var(--color-visited-pale, lighten($color-visited, 5%)),
    light: var(--color-visited-light, lighten($color-visited, 10%)),
  },
  disabled: {
    base: var(--color-disabled, $color-disabled),
    translucent: var(--color-disabled-translucent, alpha($color-disabled, 0.25)),
    inverted: var(--color-disabled-inverted, invert($color-disabled)),
    dim: var(--color-disabled-dim, darken($color-disabled, 5%)),
    dark: var(--color-disabled-dark, darken($color-disabled, 10%)),
    pale: var(--color-disabled-pale, lighten($color-disabled, 5%)),
    light: var(--color-disabled-light, lighten($color-disabled, 10%)),
  }
}

/* mixins */
color_light()
  --color-mainfore: $color-light-mainfore
  --color-mainback: $color-light-mainback
  --color-red: $color-light-red
  --color-pink: $color-light-pink
  --color-orange: $color-light-orange
  --color-yellow: $color-light-yellow
  --color-green: $color-light-green
  --color-turquoise: $color-light-turquoise
  --color-blue: $color-light-blue
  --color-violet: $color-light-violet
  --color-primary: $color-light-primary
  --color-success: $color-light-success
  --color-info: $color-light-info
  --color-warning: $color-light-warning
  --color-danger: $color-light-danger
  --color-link: $color-light-link
  --color-visited: $color-light-visited
  --color-disabled: $color-light-disabled

color_dark()
  --color-mainfore: $color-dark-mainfore
  --color-mainback: $color-dark-mainback
  --color-red: $color-dark-red
  --color-pink: $color-dark-pink
  --color-orange: $color-dark-orange
  --color-yellow: $color-dark-yellow
  --color-green: $color-dark-green
  --color-turquoise: $color-dark-turquoise
  --color-blue: $color-dark-blue
  --color-violet: $color-dark-violet
  --color-primary: $color-dark-primary
  --color-success: $color-dark-success
  --color-info: $color-dark-info
  --color-warning: $color-dark-warning
  --color-danger: $color-dark-danger
  --color-link: $color-dark-link
  --color-visited: $color-dark-visited
  --color-disabled: $color-dark-disabled

/* style */
html
  --color-mainfore: $color-mainfore
  --color-mainback: $color-mainback
  --color-black: $color-black
  --color-grey: $color-grey
  --color-white: $color-white
  --color-red: $color-red
  --color-pink: $color-pink
  --color-orange: $color-orange
  --color-yellow: $color-yellow
  --color-green: $color-green
  --color-turquoise: $color-turquoise
  --color-blue: $color-blue
  --color-violet: $color-violet
  --color-primary: $color-primary
  --color-success: $color-success
  --color-info: $color-info
  --color-warning: $color-warning
  --color-danger: $color-danger
  --color-link: $color-link
  --color-visited: $color-visited
  --color-disabled: $color-disabled

if ($enable-prefers-color-scheme)
  @media(prefers-color-scheme: light)
    html
      color_light()

  @media(prefers-color-scheme: dark)
    html
      color_dark()

.souffle,.root
  &.is-light
    color_light()
  &.is-dark
    color_dark()
