/**
 * variables/color.styl
 * @author kaminoctem
 */

/** Basic Colors */
$color-black ?= hsl(0, 0%, 0%)
$color-black-bis ?= hsl(0, 0%, 6%)
$color-black-ter ?= hsl(0, 0%, 13%)
$color-grey-darker ?= hsl(0, 0%, 20%)
$color-grey-dark ?= hsl(0, 0%, 28%)
$color-grey ?= hsl(0, 0%, 58%)
$color-grey-light ?= hsl(0, 0%, 70%)
$color-grey-lighter ?= hsl(0, 0%, 85%)
$color-white-ter ?= hsl(0, 0%, 95%)
$color-white-bis ?= hsl(0, 0%, 97%)
$color-white ?= hsl(0, 0%, 100%)

$color-orange ?= hsl(18, 82%, 72%)
$color-yellow ?= hsl(39, 82%, 72%)
$color-green ?= hsl(99, 82%, 72%)
$color-turquoise ?= hsl(159, 82%, 72%)
$color-blue ?= hsl(219, 82%, 72%)
$color-violet ?= hsl(279, 82%, 72%)
$color-pink ?= hsl(338, 82%, 72%)
$color-red ?= hsl(0, 82%, 72%)
$color-brown ?= hsl(12, 28%, 72%)

/** Semantic Colors */
$color-primary ?= $color-pink
$color-success ?= $color-green
$color-info ?= $color-blue
$color-warning ?= $color-yellow
$color-danger ?= $color-red
$color-link ?= $color-turquoise
$color-visited ?= $color-violet


$color-mainfore ?= hsl(12, 100%, 2%)
$color-mainback ?= hsl(12, 100%, 98%)

$colors = {
  black: $color-black,
  grey: $color-grey,
  white: $color-white,
  primary: $color-primary,
  success: $color-success,
  info: $color-info,
  warning: $color-warning,
  danger: $color-danger,
  link: $color-link,
  visited: $color-visited
}
