/**
 * variables/components.styl
 * @author kaminoctem
 */

// header
$header-forecolor ?= $color-mainfore
$header-backcolor ?= $color-mainback

// navbar
$navbar-menu-item-forecolor ?= $color-grey-darker
$navbar-menu-item-backcolor ?= $color-white

// footer
$footer-forecolor ?= $color-mainfore
$footer-backcolor ?= $color-mainback

// modal
$modal-z-index ?= 999

// hamburger
$hamburger-backcolor ?= $color-grey-lighter
$hamburger-forecolor ?= $color-grey
$hamburger-size ?= 3.5rem
$hamburger-line-color ?= $color-grey
$hamburger-hover-backcolor ?= $color-white-ter
$hamburger-hover-forecolor ?= $color-grey

// card
$card-forecolor ?= $color-mainfore
$card-backcolor ?= $color-mainback
$card-box-shadow-color ?= $color-grey-lighter
