/**
 * variables/components.styl
 * @author kaminoctem
 */

// header
$header-forecolor ?= $color-mainfore
$header-backcolor ?= $color-mainback

// navbar
$navbar-menu-item-forecolor ?= $color-grey-darker
$navbar-menu-item-backcolor ?= $color-white

// footer
$footer-forecolor ?= $color-mainfore
$footer-backcolor ?= $color-mainback

// modal
$modal-z-index ?= 999
