/**
 * variables/components.styl
 * @author kaminoctem
 */

/** #region badge */
$badge-forecolor ?= $color-mainfore
$badge-backcolor ?= $color-mainback
$badge-bordercolor ?= $color-grey-lighter
$badge-border-width ?= 1px
/** #endregion badge */

/** #region header */
$header-forecolor ?= $color-mainfore
$header-backcolor ?= $color-mainback
/** #endregion header */

/** #region navbar */
$navbar-menu-item-forecolor ?= $color-grey-darker
$navbar-menu-item-backcolor ?= $color-white
/** #endregion navbar */

/** #region footer */
$footer-forecolor ?= $color-mainfore
$footer-backcolor ?= $color-mainback
/** #endregion footer */

/** #region modal */
$modal-z-index ?= 999
/** #endregion modal */

// hamburger
$message-backcolor ?= $color-white
$message-bordercolor ?= $color-white
$message-border-width ?= 1px

// hamburger
$hamburger-backcolor ?= $color-grey-lighter
$hamburger-bordercolor ?= transparent
$hamburger-border-width ?= 1px
$hamburger-forecolor ?= $color-grey
$hamburger-size ?= 3.5rem
$hamburger-line-color ?= $color-grey
$hamburger-hover-backcolor ?= $color-white-ter
$hamburger-hover-forecolor ?= $color-grey

// card
$card-forecolor ?= $color-mainfore
$card-backcolor ?= $color-mainback
$card-box-shadow-color ?= $color-grey-lighter
