/**
 * variables/containers.styl
 * @author kaminoctem
 */

$root-is-header-fixed-height = 5.25rem
$root-is-header-fixed-z-index ?= 998
$root-is-footer-fixed-height ?= 5.25rem
$root-is-footer-fixed-z-index ?= 998
