/**
 * variables/containers.styl
 * @author kaminoctem
 */

// root
$root-is-header-fixed-height = 5.25rem
$root-is-header-fixed-z-index ?= 998
$root-is-footer-fixed-height ?= 5.25rem
$root-is-footer-fixed-z-index ?= 998

// blockquote
$blockquote-forecolor ?= $color-grey
