
// label
W ?= $color-grey-darker
$label-font-weight ?= $font-weight-bold

// button
$button-forecolor ?= $color-grey-darker
$button-backcolor ?= $color-white
$button-bordercolor ?= $color-grey-lighter
$button-border-radius ?= 4px
$button-hover-forecolor ?= $color-grey-darker
$button-hover-backcolor ?= $color-grey-darker
$button-hover-bordercolor ?= $color-grey-light
$button-focus-forecolor ?= $color-grey-darker
$button-focus-backcolor ?= $color-grey-darker
$button-focus-bordercolor ?= $color-link
$button-focus-box-shadow-size ?= 0 0 0 0.125em
$button-focus-box-shadow-color ?= alpha($color-link, 0.25)
$button-active-forecolor ?= $color-grey-darker
$button-active-backcolor ?= $color-grey-darker
$button-active-bordercolor ?= $color-grey-dark
$button-disabled-forecolor ?= $color-grey-darker
$button-disabled-backcolor ?= $color-white
$button-disabled-bordercolor ?= $color-grey-lighter
$button-disabled-box-shadow ?= none
$button-disabled-opacity ?= 0.5

// radio
$radio-text-font-weight ?= $font-weight-normal
$radio-button-size ?= 1em
$radio-button-border-width ?= 0.2em
$radio-button-border-color ?= $color-grey-lighter
$radio-button-backcolor ?= $color-white
$radio-button-checked-border-color ?= $color-grey-lighter
$radio-button-checked-backcolor ?= $color-grey-darker
$radio-disabled-button-checked-border-color ?= $color-grey-lighter
$radio-disabled-button-checked-backcolor ?= $color-grey-light
$radio-disabled-text-forecolor ?= $color-grey

// checkbox
$checkbox-text-font-weight ?= $font-weight-normal
$checkbox-box-size ?= 1em
$checkbox-box-border-width ?= 0.2em
$checkbox-box-border-color ?= $color-grey-lighter
$checkbox-box-backcolor ?= $color-white
$checkbox-box-checked-border-color ?= $color-grey-lighter
$checkbox-box-checked-backcolor ?= $color-grey-darker
$checkbox-disabled-box-checked-border-color ?= $color-grey-lighter
$checkbox-disabled-box-checked-backcolor ?= $color-grey-light
$checkbox-disabled-text-checked-forecolor ?= $color-grey
$checkbox-disabled-text-forecolor ?= $color-grey

// select
$select-disabled-forecolor ?= $color-grey-darker
$select-disabled-backcolor ?= $color-white
$select-disabled-bordercolor ?= $color-grey-darker
$select-disabled-opacity ?= 0.5

// text
$text-forecolor ?= $color-black
$text-backcolor ?= $color-white
$text-border-color ?= $color-grey-light
$text-border-radius ?= 0.25rem
$text-border-width ?= 0.05rem

// textarea
$textarea-forecolor ?= $color-black
$textarea-backcolor ?= $color-white
$textarea-border-color ?= $color-grey-light
$textarea-border-radius ?= 0.25rem
$textarea-border-width ?= 0.05rem
