/**
 * elements/blockquote.styl
 * @author kaminoctem
 */

.blockquote
  border-left: 0.25rem solid $blockquote-forecolor
  color: $blockquote-forecolor
  margin: 1rem 0
  padding: .5rem 1rem

  for colorKey, colorValue in $colors
    &.is-{colorKey}
      border-left: 1px solid colorValue.base
      color: colorValue.base
