/**
 * containers/tategaki.styl
 * @author kaminoctem
 */

.tategaki
  align-items: center
  display:flex
  float: right
  justify-content: flex-start
  margin: 0 0 0 auto
  max-height: 100vh
  text-orientation: mixed
  writing-mode: vertical-rl
  &>p,
  &>.paragraph
    line-height: 3.1em
    letter-spacing: 0.1em
    margin: 0 0 0 auto
    &.with-alphanumeric
      text-orientation: upright
      text-transform: full-width
