/**
 * components/footer.styl
 * @author kaminoctem
 */

$footer-forecolor ?= $color-mainfore
$footer-backcolor ?= $color-mainback

/** style */
.footer
  background-color: $footer-backcolor
  color: $footer-forecolor
  &>*
    background-color: $footer-backcolor
    color: $footer-forecolor
  for colorKey, colorValue in $colors
    &.is-{colorKey}
      background-color: colorValue
      color: invert(colorValue)
      &>*
        background-color: colorValue
        color: invert(colorValue)
