/**
 * components/footer.styl
 * @author kaminoctem
 */

/** style */
.footer
  background-color: $footer-backcolor
  color: $footer-forecolor
  &>*
    background-color: $footer-backcolor
    color: $footer-forecolor

  if (!$is-skeleton)
    for colorKey, colorValue in $colors
      &.is-{colorKey}
        background-color: colorValue.base
        color: colorValue.inverted
        &>*
          background-color: colorValue.base
          color: colorValue.inverted
