/**
 * components/header.styl
 * @author kaminoctem
 */

.header
  background-color: $header-backcolor
  color: $header-forecolor
  &>*
    background-color: $header-backcolor
    color: $header-forecolor

  if (!$is-skeleton)
    for colorKey, colorValue in $colors
      &.is-{colorKey}
        background-color: colorValue.base
        color: colorValue.inverted
        &>*
          background-color: colorValue.base
          color: colorValue.inverted
