
.list
  display: block
  margin: 1em 0
  list-style-type: none
  &.is-marker-disc
    list-style-type: disc
  &.is-marker-circle
    list-style-type: circle
  &.is-marker-square
    list-style-type: square
  &.is-marker-decimal
    list-style-type: decimal
  &.is-marker-hiragana-iroha
    list-style-type: hiragana-iroha
  &>.list-item
    margin: 0.25em 0
