/**
 * components/navbar.styl
 * @author kaminoctem
 */

/** style */
.navbar
  display: block

  &>.brand
    display: flex
    &>.left
      display: block
      flex-basis: 0
      flex-grow: 1
      flex-shrink: 1
      max-width: 100%
      margin: auto auto auto 0
      position: relative
      text-align: left
    &>.center
      display: block
      flex-basis: 0
      flex-grow: 1
      flex-shrink: 1
      max-width: 100%
      margin: auto
      position: relative
      text-align: center
    &>.right
      display: block
      flex-basis: 0
      flex-grow: 1
      flex-shrink: 1
      max-width: 100%
      margin: auto 0 auto auto
      position: relative
      text-align: right
    &>.left,
    &>.center,
    &>.right
      &>.item
        cursor: pointer
        display: block
  &>.menu
    display: none
    flex-direction: row
    flex-wrap: wrap
    padding: 0.5em
    &.is-active
      display: flex
    +is_responsive("-active")
      display: flex
    &>.item
      background-color: $navbar-menu-item-backcolor
      border-radius: 0.25em
      color: $navbar-menu-item-forecolor
      cursor: pointer
      display: block
      flex-basis: 0
      flex-grow: 1
      flex-shrink: 1
      line-height: 1.5
      margin: .25em
      max-width: 100%
      padding: .5rem .5rem
      position: relative
      +mobile()
        flex-basis: 100%
        max-width: 100%
        width: 100%
      +tablet()
        flex-basis: 100%
        max-width: 100%
        width: 100%
      &:hover,
      &.is-hovered
        background-color: darken($navbar-menu-item-backcolor, 5%)
        border-color: transparent
      &:focus,
      &.is-focused
        border-color: transparent
      &:active,
      &.is-active
        background-color: darken($navbar-menu-item-backcolor, 10%)
        border-color: transparent
      &[disabled],
      &.is-disabled
        background-color: $navbar-menu-item-backcolor
        border-color: transparent
        box-shadow: none

      if (!$is-skeleton)
        for colorKey, colorValue in $colors
          &.is-{colorKey}
            background-color: colorValue.base
            border-color: transparent
            color: colorValue.inverted
            &:hover,
            &.is-hovered
              background-color: colorValue.dim
              border-color: transparent
              color: colorValue.inverted
            &:focus,
            &.is-focused
              border-color: transparent
              color: colorValue.inverted
            &:active,
            &.is-active
              background-color: colorValue.dark
              border-color: transparent
              color: colorValue.inverted
            &[disabled],
            fieldset[disabled],
            &.is-disabled
              background-color: colorValue.base
              border-color: transparent
              box-shadow: none

