/**
 * animations/fade.styl
 * @author kaminoctem
 */

/** fade-in */
/** style */
.fade-in
  @extend .animation
  animation-name: fade-in

/** keyframes */
@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

/** fade-out */
/** style */
.fade-out
  animation-name: fade-out

/** keyframes */
@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0
