/**
 * utils/mixins.styl
 * @author kaminoctem
 */

clearfix()
  &::after
    clear: both
    content: " "
    display: block

mobile()
  @media screen and (max-width: $breakpoint-tablet - 1px)
    {block}

tablet()
  @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1px)
    {block}

desktop()
  @media screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-widescreen - 1px)
    {block}

widescreen()
  @media screen and (min-width: $breakpoint-widescreen) and (max-width: $breakpoint-fullhd - 1px)
    {block}

fullhd()
  @media screen and (min-width: $breakpoint-fullhd)
    {block}

reducemotion()
  @media (print), (prefers-reduced-motion: reduce)
    {block}

unselectable()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

column()
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  max-width: 100%
  position: relative

is_responsive(prefix = "")
  +mobile()
    &.is-mobile{prefix},
    &.is-mobile-or-more{prefix},
    &.is-tablet-or-less{prefix},
    &.is-desktop-or-less{prefix},
    &.is-widescreen-or-less{prefix}
    &.is-fullhd-or-less{prefix}
      {block}
  +tablet()
    &.is-mobile-or-more{prefix},
    &.is-tablet-or-less{prefix},
    &.is-tablet{prefix},
    &.is-tablet-or-more{prefix},
    &.is-desktop-or-less{prefix},
    &.is-widescreen-or-less{prefix}
    &.is-fullhd-or-less{prefix}
      {block}
  +desktop()
    &.is-mobile-or-more{prefix},
    &.is-tablet-or-more{prefix},
    &.is-desktop-or-less{prefix},
    &.is-desktop,
    &.is-desktop-or-more{prefix},
    &.is-widescreen-or-less{prefix}
    &.is-fullhd-or-less{prefix}
      {block}
  +widescreen()
    &.is-mobile-or-more{prefix},
    &.is-tablet-or-more{prefix},
    &.is-desktop-or-more{prefix},
    &.is-widescreen-or-less{prefix},
    &.is-widescreen{prefix},
    &.is-widescreen-or-more{prefix},
    &.is-fullhd-or-less{prefix}
      {block}
  +fullhd()
    &.is-mobile-or-more{prefix},
    &.is-tablet-or-more{prefix},
    &.is-desktop-or-more{prefix},
    &.is-widescreen-or-more{prefix},
    &.is-fullhd-or-less{prefix},
    &.is-fullhd{prefix}
      {block}
