/**
 * elements/button.styl
 * @author kaminoctem
 */

/** style */
.button
  @extend.control
  background-color: $button-backcolor
  border-color: $button-bordercolor
  box-sizing: border-box
  color: $button-forecolor
  cursor: pointer
  display: inline-block
  height: auto
  min-height: 2.5em
  min-width: 7.5em
  text-align: center
  text-transform: none
  vertical-align: top
  word-spacing: 0px

  &:hover,
  &.is-hovered
    border-color: $button-hover-bordercolor
    color: $button-hover-forecolor

  &:focus,
  &.is-focused
    border-color: $button-focus-bordercolor
    color: $button-focus-forecolor
    &:not(:active)
      box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color

  &:active,
  &.is-active
    border-color: $button-active-bordercolor
    color: $button-active-forecolor

  &[disabled],
  fieldset[disabled],
  &.is-disabled
    background-color: $button-disabled-backcolor
    border-color: $button-disabled-bordercolor
    box-shadow: $button-disabled-box-shadow
    opacity: $button-disabled-opacity

  if (!$is-skeleton)
    for colorKey, colorValue in $colors
      &.is-{colorKey}
        background-color: colorValue.base
        border-color: transparent
        color: colorValue.inverted

        &:hover,
        &.is-hovered
          background-color: colorValue.dim
          border-color: transparent
          color: colorValue.inverted

        &:focus,
        &.is-focused
          border-color: transparent
          color: colorValue.inverted
          &:not(:active)
            box-shadow: $button-focus-box-shadow-size colorValue.translucent

        &:active,
        &.is-active
          background-color: colorValue.dark
          border-color: transparent
          color: colorValue.inverted

        &[disabled],
        fieldset[disabled],
        &.is-disabled
          background-color: colorValue.base
          border-color: transparent
          box-shadow: none

  &.is-wimp
    &:hover,
    &.is-hovered
      animation-duration: 0.1s
      animation-fill-mode: both
      animation-iteration-count: infinite
      animation-name: is-wimp-hover
    &:focus,
    &.is-focused
      animation-duration: 0.1s
      animation-fill-mode: both
      animation-iteration-count: infinite
    &:active,
    &.is-active
      animation-duration: 0.1s
      animation-fill-mode: both
      animation-iteration-count: infinite
    &[disabled],
    fieldset[disabled],
    &.is-disabled
      animation-duration: 2s
      animation-fill-mode: both
      animation-iteration-count: infinite
      animation-name: is-wimp-disabled

/** keyframes */
@keyframes is-wimp-hover
  0%
    transform: translate3d(0, 0, 0)
  25%
    transform: translate3d(-0.25em, 0, 0)
  50%
    transform: translate3d(0, 0, 0)
  75%
    transform: translate3d(0.25em, 0, 0)
  100%
    transform: translate3d(0, 0, 0)

@keyframes is-wimp-disabled
  0%
    opacity: 0.9
  50%
    opacity: 0.7
  100%
    opacity: 0.9
