/**
 * elements/icon.styl
 * @author kaminoctem
 */

.icon
  align-items: center
  display: inline-flex
  justify-content: center
  height: $icon-size
  width: $icon-size
  &.is-small
    height: $icon-size-small
    width: $icon-size-small
  &.is-medium
    height: $icon-size-medium
    width: $icon-size-medium
  &.is-large
    height: $icon-size-large
    width: $icon-size-large
