/**
 * elements/label.styl
 * @author kaminoctem
 */

/** variable */
$label-forecolor ?= $color-grey-darker
$label-font-weight ?= $font-weight-bold

/** style */
label,
.label
  color: $label-forecolor
  display: block
  font-size: $font-size-normal
  font-weight: $label-font-weight
