/**
 * elements/radio.styl
 * @author kaminoctem
 */

.radio
  @extend.control
  &>.radio-input
    display: none
  &>.radio-button
    background-color: $radio-button-backcolor
    border: $radio-button-border-width solid $radio-button-border-color
    border-radius: 50%
    cursor: pointer
    display: inline-block
    height: "calc(%s - %s)" % ($radio-button-size $radio-button-border-width)
    line-height: 1.5
    margin-left: 0.5em
    position: relative
    vertical-align: middle
    width: "calc(%s - %s)" % ($radio-button-size $radio-button-border-width)
    &:after
      background-color: $radio-button-backcolor
      border-radius: 50%
      content: ''
      height: "calc((%s - %s) / 6 * 4)" % ($radio-button-size $radio-button-border-width)
      left: "calc((%s - %s) / 6)" % ($radio-button-size $radio-button-border-width)
      position: absolute
      top: "calc((%s - %s) / 6)" % ($radio-button-size $radio-button-border-width)
      width: "calc((%s - %s) / 6 * 4)" % ($radio-button-size $radio-button-border-width)
  &>.radio-text
    display: inline-block
    font-size: $font-size-normal
    font-weight: $radio-text-font-weight
    padding: $radio-text-padding-vertical $radio-text-padding-horizontal
  &>.radio-input:checked~.radio-button:after
    background-color: $radio-button-checked-backcolor

  &>.radio-input[disabled]~.radio-button,
  fieldset[disabled]>.radio-button
    background-color: $radio-disabled-button-backcolor
  &>.radio-input[disabled]~.radio-text,
  fieldset[disabled]>.radio-text
    color: $radio-disabled-text-forecolor
  &>.radio-input[disabled]:checked~.radio-button:after,
  fieldset[disabled]>.radio-input[disabled]:checked~.radio-button:after
    background-color: $radio-disabled-button-checked-backcolor

  if (!$is-skeleton)
    for colorKey, colorValue in $colors
      &.is-{colorKey}
        &>.radio-input~.radio-button
          background-color: $radio-button-backcolor
          border-color: colorValue.base
        &>.radio-input:checked~.radio-button:after
          background-color: colorValue.base
