/**
 * elements/select.styl
 * @author kaminoctem
 */

.select
  &>.option
    @extend.control
  &[disabled],
  fieldset[disabled]
    background-color: $select-disabled-backcolor
    border-color: $select-disabled-bordercolor
    opacity: $select-disabled-opacity
