/**
 * elements/text.styl
 * @author kaminoctem
 */

.text
  @extend.control
  background-color: $text-backcolor
  border: $text-border-width solid $text-border-color
  border-radius: $text-border-radius
  color: $text-forecolor
  margin: 0.25rem 0
  padding: 0.25rem
