/**
 * elements/textarea.styl
 * @author kaminoctem
 */

.textarea
  @extend.control
  background-color: $textarea-backcolor
  border: $textarea-border-width solid $textarea-border-color
  border-radius: $textarea-border-radius
  color: $textarea-forecolor
  display: block
  justify-content: flex-start
  margin: 0.25rem 0
  max-width: 100%
  min-height: 2.25rem
  padding: 0.25rem
  resize: vertical
  width: 100%

  &[disabled],
  fieldset[disabled],
  &.is-disabled
    background-color: $textarea-disabled-backcolor
    border-color: $textarea-disabled-bordercolor
    box-shadow: $textarea-disabled-box-shadow
    opacity: $textarea-disabled-opacity

  if (!$is-skeleton)
    for colorKey, colorValue in $colors
      &.is-{colorKey}
        border-color: colorValue.base
        &[disabled],
        fieldset[disabled],
        &.is-disabled
          background-color: colorValue.translucent
          border-color: transparent
          box-shadow: none
